body {
    margin: 0;
    padding: 0;
}
.box{
    width: 650px;
    height: 650px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
.container {
    position:absolute;
    left: 0;
    font-size: 0;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 14px;
}
.log-box{
    position: absolute;
    right: 0;
    width: 120px;
    height: 528px;
    border: 1px solid black;
    overflow: scroll;
}
.log{
    cursor: pointer;
    text-align: center;
}
.component-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    border: 1px solid black;
}
.component-box > a{
    cursor: pointer;
}
.aa {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 29.4117px;
    height: 29.4117px;
    border-radius: 50%;
}
